<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Title</title>

        <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="public/css/app.css">

        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <script src="public/js/app.js"></script>
    </head>
    <body class="h-screen bg-blue-400">
        <div id="app">
            <div class="pb-10">
                <button class="border-2 rounded border-blue-200 py-2 px-4 text-blue-100 ml-5 mt-5 focus:outline-none hover:bg-blue-500" @click="addTable">Voeg nieuwe tafel toe</button>
            </div>
            <div class="text-blue-100 pl-5 mb-10">
                <h2 class="text-2xl mb-5">Vrije tafel(s)</h2>
                <div class="grid md:grid-cols-4 sm:grid-cols-3 lg:grid-cols-6">
                    <div v-for="freeTable in freeTables" class="flex flex-col py-8 content-center items-center">
                        <div>
                            <div class="rounded-full h-24 w-24 bg-white flex items-center justify-center relative">
                                <div class="rounded-full h-full w-full bg-white flex items-center justify-center z-20">
                                    <span class="text-black text-xl" v-text="freeTable.number"></span>
                                </div>
                                <div class="top-chair absolute w-10 h-10 border border-black z-10 bg-gray-400"></div>
                                <div class="right-chair absolute w-10 h-10 border border-black z-10 bg-gray-400"></div>
                                <div class="bottom-chair absolute w-10 h-10 border border-black z-10 bg-gray-400"></div>
                                <div class="left-chair absolute w-10 h-10 border border-black z-10 bg-gray-400"></div>
                            </div>
                        </div>
                        <div class="pt-10">
                            <button class="bg-green-600 hover:bg-green-700 py-1 px-3 text-green-100 rounded focus:outline-none" @click="setTableStatus(freeTable.number, reservedStatus)">Reserveer</button>
                            <button class="bg-red-600 hover:bg-red-700 py-1 px-3 text-red-100 rounded focus:outline-none" @click="removeTable(freeTable.number)">Verwijder</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="text-blue-100 pl-5">
                <h2 class="text-2xl mb-5">Gereserveerde tafel(s)</h2>
                <div class="grid md:grid-cols-4 sm:grid-cols-3 lg:grid-cols-6">
                    <div v-for="reservedTable in reservedTables" class="flex flex-col py-8 content-center items-center">
                        <div>
                            <div class="rounded-full h-24 w-24 bg-white flex items-center justify-center relative">
                                <div class="rounded-full h-full w-full bg-white flex items-center justify-center z-20">
                                    <span class="text-black text-xl" v-text="reservedTable.number"></span>
                                </div>
                                <div class="top-chair absolute w-10 h-10 border border-black z-10 bg-gray-400"></div>
                                <div class="right-chair absolute w-10 h-10 border border-black z-10 bg-gray-400"></div>
                                <div class="bottom-chair absolute w-10 h-10 border border-black z-10 bg-gray-400"></div>
                                <div class="left-chair absolute w-10 h-10 border border-black z-10 bg-gray-400"></div>
                            </div>
                        </div>
                        <div class="pt-10">
                            <button class="bg-red-600 hover:bg-red-700 py-1 px-3 text-red-100 rounded focus:outline-none" @click="setTableStatus(reservedTable.number, freeStatus)">Zet vrij</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>